/*初始化*/
*{
    margin: 0;
    padding: 0;
    border: none;
}
body{
    background: #dddddd;
}
img{
    border: none;
}
a{
    text-decoration: none;
    color: #444444;
}
a:hover{
    color: #999999;
}